@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm fw-bolder">
                <h1 class="text-center">COT - Comandos de Operações Táticas:</h1>
                
                O Comando de Operações Táticas (COT) é uma unidade de elite da Polícia Federal do Brasil especializada em operações de alto risco, como resgate de reféns, enfrentamento a organizações criminosas, combate ao terrorismo, entre outras. Criado em 1987, o COT é composto por policiais altamente treinados e qualificados, selecionados de diferentes áreas da Polícia Federal.
                As atribuições do COT incluem ações de intervenção em situações de crise, como sequestros, rebeliões em presídios, entre outras emergências que exijam uma resposta rápida e eficaz por parte das forças de segurança. Além disso, a unidade também pode ser acionada em missões de proteção de autoridades, operações de segurança em grandes eventos e outras atividades que demandem um alto nível de expertise tática e operacional.
            </div>
            <div class="col-sm">
                <img class="col-20" src="~/img/cotelitepf.jpg"/>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm fw-bolder">
            <h2 class="text-center">GPI - Grupo de Pronta Intervenção:</h2>

                O Grupo de Pronta Intervenção (GPI) é uma unidade especializada da Polícia Federal do Brasil, presente na maioria dos Estados da Federação, com o objetivo de atuar em situações emergenciais e de médio risco em âmbito local, prisões de indivíduos considerados perigosos, ações em favelas, controle de distúrbios em manifestações, tomada e ocupação de edificações e outras que exigem uma resposta imediata.[1] Além disso, devem prestar apoio ao Comando de Operações Táticas - COT, inclusive na contenção de situações de alto risco até a chegada do COT, que é sediado em Brasília e que tem o devido treinamento e atribuição nesses cenários.
            </div>
            <div class="col-sm fw-bolder">
                <img class="col-20" src="~/img/gpipf.jpg" />
                
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm fw-bolder">
            <h3 class="text-center">Nepom - Núcleo Especial de Polícia Maritima:</h3>

            O Núcleo Especial de Polícia Marítima (NEPOM) foi criado em doze cidades brasileiras, como resposta à alta taxa de criminalidade nos portos brasileiros, bem como a necessidade de patrulhamento ostensivo para evitar a ocorrência de ilícitos penais nos rios da Amazônia e das fronteiras brasileiras (sobretudo o Lago de Itaipu, na fronteira Brasil-Paraguai). O policiamento marítimo conta com equipamentos de última geração, adquiridos recentemente pelo governo brasileiro com o objetivo de atender o país às normas do ISPS Code (International Ship and Port Facility Security Code). Além do patrulhamento rotineiro, é realizada a fiscalização do tráfego internacional nas dezenas de navios que atracam e desatracam no principais portos brasileiros. A ação dos agentes também é feita em torno dos clandestinos que vêm a bordo dos navios. Os policiais do Nepom recebem formação especial na Marinha do Brasil, estando habilitados na categoria de Tripulante de Embarcação de Estado.
        </div>
        <div class="col-sm fw-bolder">
            <img class="col-12" src="~/img/nepompf.jpg" />
          
        </div>
    </div>
</div>
</div>
