@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center ">
    <h1 class="display-4 fw-bolder">POLÍCIA FEDERAL</h1>
    <img src="~/img/policiafederal.jpg" />
    <div/>
    <p>
        A Polícia Federal do Brasil é uma instituição policial federal responsável por uma variedade de funções, incluindo investigações criminais, combate ao tráfico de drogas, contrabando, crimes financeiros, crimes cibernéticos, imigração ilegal, entre outras atividades relacionadas à segurança nacional e à ordem pública. Aqui está um resumo da história e da hierarquia da Polícia Federal brasileira:

        História:
        A Polícia Federal brasileira tem suas origens no início do século XX, quando foi criada em 1921 como Departamento de Polícia Federal. Inicialmente, sua função principal era o controle da imigração e a repressão ao tráfico de drogas. Ao longo dos anos, suas atribuições foram ampliadas para incluir uma variedade de crimes federais e questões de segurança nacional. Em 1944, o departamento foi renomeado para Polícia Federal.</a>.
    </p>
</div>
