@{
    ViewData["Title"] = "Origem";
}
<div class="text-center fw-bolder">
    <h1 class="display-4 fw-bolder">POLÍCIA FEDERAL E SUA ORIGEM</h1>
    <img class="col-10" src="~/img/policiafederal02.jpg" />
    <div class="col-sm fw-bolder">
<p>
    A origem da Polícia Federal do Brasil remonta ao início do século XX. Aqui está um resumo dos principais marcos históricos que levaram à criação da instituição:


    Criação do Departamento de Polícia Federal (DPF):
    Em 1920, o então presidente do Brasil, Epitácio Pessoa, criou o Departamento de Polícia Federal (DPF) por meio do Decreto nº 4.822, de 27 de novembro de 1920. A instituição tinha como objetivo inicial o controle da imigração, o combate ao tráfico de drogas e a segurança das fronteiras.


    Consolidação e Expansão das Atribuições:
    Ao longo das décadas seguintes, as atribuições do DPF foram sendo ampliadas para incluir o combate a uma variedade de crimes federais, como contrabando, crimes financeiros, tráfico de armas, entre outros. A instituição também passou a desempenhar um papel fundamental na segurança nacional e na proteção das fronteiras do país.


    Renomeação para Polícia Federal:
    Em 1944, durante o governo de Getúlio Vargas, o Departamento de Polícia Federal foi renomeado para Polícia Federal (PF), mantendo suas atribuições e responsabilidades.


    Reforma e Modernização:
    Nas décadas seguintes, a Polícia Federal passou por reformas e modernizações para enfrentar os desafios contemporâneos, incluindo o desenvolvimento de tecnologias de combate ao crime, a expansão de suas atividades de inteligência e cooperação internacional com outras agências policiais.


    Consolidação como Instituição Federal de Segurança:
    Ao longo do tempo, a Polícia Federal do Brasil se consolidou como uma instituição federal de segurança com amplas responsabilidades no combate ao crime organizado, corrupção, lavagem de dinheiro, tráfico de drogas, crimes cibernéticos, entre outros.

    Hoje, a Polícia Federal é uma das principais forças policiais do Brasil, desempenhando um papel crucial na manutenção da segurança pública e da ordem nacional. Sua história reflete a evolução das necessidades de segurança do país ao longo do século XX e início do século XXI.
</p>
